@import "../styles/custom.scss";

.mdc-button {
  padding: 0em 0.5em;
  min-width: 0px;
  min-height: 0px;
  height: 32px;
}

.mdc-button--outlined:not(.mdc-button--raised){
  background-color: #fff;
}

.mdc-button.btnTitle {
  background-color: $mdc-theme-secondary;
  color: transparent;
}

.no-padding {
  padding: 0px, 0px, 0px, 0px;
}

.mdc-chip {
  margin: 2px;
}

.mdc-chip--selected {
  background-color: $color-3;
}

.mdc-button.selected {
  background-color: $mdc-theme-secondary;
  color: $mdc-theme-primary;
}


.btnStarGroup .mdc-button {
  padding: 0 0.25em;
  min-width: 0px;
}

.btnRowTitle {
  padding: 0 0.25em;
  min-width: 40px;
  margin: 0px;
}

.even-row {
  background-color: $highlight-background;
}
