img[src=""],
img:not([src]) {
  opacity: 0;
}

.ad-container {
  img {
    width: 100%;
    height: auto;
  }
  width: 100%;
  max-width: 1200px;
  margin: auto;

  .card-title {
    max-width: 100%;
    width: 400;
    padding: 0.25em;
    display: block;
  }
}

[mdcCard] {
  margin: 0.5em;

  .mat-icon {
    max-height: 48px;
    max-width: 48px;
    height: auto;
    width: auto;
  }
  .matcard-item {
    padding: 0.25em;
  }
}
